/*Roboto*/
@font-face {
    font-family:'Roboto';
    font-style: normal;
    font-weight: 300;
    src:local('Roboto');
    src: url('../../fonts/en/Roboto-Light-webfont.eot');
    src:  url('../../fonts/en/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/en/Roboto-Light-webfont.woff') format('woff'),
    url('../../fonts/en/Roboto-Light-webfont.ttf') format('ttf');
}

@font-face {
    font-family:'Roboto';
    font-style: normal;
    font-weight: 400;
    src:local('Roboto');
    src: url('../../fonts/en/Roboto-Regular-webfont.eot');
    src: url('../../fonts/en/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/en/Roboto-Regular-webfont.woff') format('woff'),
    url('../../fonts/en/Roboto-Regular-webfont.ttf') format('ttf');
}

@font-face {
    font-family:'Roboto';
    font-style: normal;
    font-weight: 700;
    src:local('Roboto');
    src: url('../../fonts/en/Roboto-Bold-webfont.eot');
    src: url('../../fonts/en/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/en/Roboto-Bold-webfont.woff') format('woff'),
    url('../../fonts/en/Roboto-Bold-webfont.ttf') format('ttf');
}

/*Roboto Condensed*/
@font-face {
    font-family:'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    src:local('Roboto Condensed');
    src: url('../../fonts/en/Roboto-Condensed-webfont.eot');
    src: url('../../fonts/en/Roboto-Condensed-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/en/Roboto-Condensed-webfont.woff') format('woff'),
    url('../../fonts/en/Roboto-Condensed-webfont.ttf') format('ttf');
}

@font-face {
    font-family:'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    src:local('Roboto Condensed');
    src: url('../../fonts/en/Roboto-BoldCondensed-webfont.eot');
    src: url('../../fonts/en/Roboto-BoldCondensed-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/en/Roboto-BoldCondensed-webfont.woff') format('woff'),
    url('../../fonts/en/Roboto-BoldCondensed-webfont.ttf') format('ttf');
}
